@model MVCAlbums.Utilities.PagedResult<MVCAlbums.ViewModels.AlbumsView>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumThumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumUser.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().AlbumUser.Address)
        </th>
    </tr>

    @foreach (var album in Model.Items)
    {
        <tr>
            <td>
                <img class="img-thumbnail" src="@Html.Raw(album.AlbumThumbnail)" />
            </td>
            <td>
                <a href="#" onclick="pushDataToModal(@Html.Raw(album.AlbumId));" data-toggle="modal" data-target="#myModal" data-backdrop="static">@Html.DisplayFor(model => album.AlbumTitle)</a>
            </td>
            <td>
                <a href="~/Home/User/@Html.DisplayFor(model => album.AlbumUser.Id)">@Html.DisplayFor(model => album.AlbumUser.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(model => album.AlbumUser.Email)
            </td>
            <td>
                @Html.DisplayFor(model => album.AlbumUser.Phone)
            </td>
            <td>
                <table class="table address-table">
                    <tr>
                        <th class="no-border">Street</th>
                        <td class="no-border">@Html.DisplayFor(model => album.AlbumUser.Address.Street)</td>
                    </tr>
                    <tr>
                        <th>Suite</th>
                        <td>@Html.DisplayFor(model => album.AlbumUser.Address.Suite)</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>@Html.DisplayFor(model => album.AlbumUser.Address.City)</td>
                    </tr>
                    <tr>
                        <th>Zipcode</th>
                        <td>@Html.DisplayFor(model => album.AlbumUser.Address.Zipcode)</td>
                    </tr>
                </table>
            </td>
        </tr>
    }

</table>


<nav aria-label="Page navigation example">
    <ul class="pagination mt-4 mb-4">
        @for (var i = 1; i <= Model.TotalPageCount; i++)
        {
            <li class="page-item @Html.Raw(Model.PageIndex == i ? "active" : "")"><a class="page-link" href="@Url.Action("Albums", new { skip = ((i-1)*10), take = 10, searchParam = Model.Items.FirstOrDefault()?.SearchParam})">@i</a></li>
        }
    </ul>
</nav>