@model MVCAlbums.ViewModels.UserView

<h1 class="m-3">@Html.DisplayFor(model => model.User.Username)'s Profile Page</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Company)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.User.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.User.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.User.Phone)
        </td>
        <td>
            @Html.DisplayFor(model => model.User.Website)
        </td>
        <td>
            <table class="table">
                <tr>
                    <th class="no-border">Street</th>
                    <td class="no-border">@Html.DisplayFor(model => model.User.Address.Street)</td>
                </tr>
                <tr>
                    <th>Suite</th>
                    <td>@Html.DisplayFor(model => model.User.Address.Suite)</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Html.DisplayFor(model => model.User.Address.City)</td>
                </tr>
                <tr>
                    <th>Zipcode</th>
                    <td>@Html.DisplayFor(model => model.User.Address.Zipcode)</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>Lat: @Html.DisplayFor(model => model.User.Address.Geo.Lat)</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>Lng: @Html.DisplayFor(model => model.User.Address.Geo.Lng)</td>
                </tr>
            </table>
        </td>
        <td>
            <table class="table">
                <tr>
                    <th class="no-border">Company Name</th>
                    <td class="no-border">@Html.DisplayFor(model => model.User.Company.Name)</td>
                </tr>
                <tr>
                    <th>Company Catchphrase</th>
                    <td>@Html.DisplayFor(model => model.User.Company.CatchPhrase)</td>
                </tr>
                <tr>
                    <th>Company Bs</th>
                    <td>@Html.DisplayFor(model => model.User.Company.Bs)</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<h2>@Html.DisplayFor(model => model.User.Username)'s Posts </h2>
<table class="table">
    @foreach (var post in Model.UserPosts)
    {
        <div class="container">
            <div class="row mb-3">
                <div class="col-12 border border-secondary rounded">
                    <p class="font-weight-bold m-3">@Html.DisplayFor(model => post.Title)</p>
                    <p class="m-3">@Html.DisplayFor(model => post.Body)</p>
                    <p class="lead m-3">Comments <a class="btn btn-sm btn-success" data-toggle="collapse" href=".collapse_@Html.DisplayFor(model => post.Id)" role="button" aria-expanded="false" aria-controls="collapseExample">&#187;</a></p>
                    @foreach (var comment in post.Comments)
                    {
                    <div class="container border border-secondary mb-3 rounded collapse_@Html.DisplayFor(model => post.Id) collapse">
                        <p class="font-weight-bolder m-3">@Html.DisplayFor(model => comment.Name)</p>
                        <p class="m-3">@Html.DisplayFor(model => comment.Body)</p>
                        <footer class="blockquote-footer m-3"><cite title="@Html.DisplayFor(model => comment.Email)">@Html.DisplayFor(model => comment.Email)</cite></footer>
                    </div>
                
                    }
                </div>
            </div>
        </div>
     }
</table> 